* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background: transparent;
    }

.heading {
 	margin: 0pt;
 	padding: 0pt;
  	background-color: #edff96;
  	height: 60pt;
}

.title {
	font-size: 30pt;
	float: left;
	margin-left: 20pt;
	margin-top: 8pt;
	font-family: 'Abril Fatface', cursive;
} 

.logo {
	height: 50pt;
	margin-top: 3pt;
	float: left;
}

.course {
	margin-top: 8pt;
	margin-right: 20pt;
	font-size: 30pt;
	float: right;
	font-family: 'Abril Fatface', cursive;
}

.mainDiv {
	color: black;
	float: left;
	width: 69.8%;
	height: 522pt;
	text-align: center;
}

.welcome {
	font-size: 26pt;
	color: #2700d6;
	margin-top: 15pt;
	display: inline-block;
	padding: 10pt 15pt 10pt 15pt;
	font-family: 'Actor', sans-serif;
}

.phone {
	font-size: 26pt;
	color: #2700d6;
	margin-top: 15pt;
	display: inline-block;
	padding: 10pt 15pt 10pt 15pt;
	font-family: 'Actor', sans-serif;
}

.question {
	font-size: 18pt;
	height: 80pt;
	margin: 15pt 15pt 0pt 15pt;
	padding: 10pt 15pt 10pt 15pt;
	background-color: #f4f4f4;
	font-family: 'Actor', sans-serif;
	text-align: left;
	box-shadow: 5pt 5pt 20pt #d6d6d6;
}

.gen_question {
	font-size: 20pt;
	color: #960801;
	width: 160pt;
}

.tf_question {
	font-size: 20pt;
	color: #ea8c10;
	width: 180pt;
}

.sa_question {
	font-size: 20pt;
	color: #1300aa;
	width: 180pt;
}

.cm_question {
	font-size: 20pt;
	color: #01891d;
	width: 180pt;
}

.time {
	float: right;
	font-size: 15pt;
	margin-top: 0pt;
}

.cont {
	margin-right: 80pt;
	font-size: 16pt;
}

.leftDiv {
	background: linear-gradient(to bottom, #d6d6d6 0%, #ffffff 100%);
	width: 15%;
	height: 522pt;
	float: left;
}

.rightDiv {
	background: linear-gradient(to bottom, #d6d6d6 0%, #ffffff 100%);
	width: 15%;
	float: left;
	height: 522pt;
}